
<div class="product-container">
    <div class="row">
        <ng-container *ngIf="product">
            <div class="col">

                <div class="img-container">
                   
                    <img src={{url}} *ngFor="let url of product.srcUrl" alt="picture">
                </div>

                <ul class="content">

                    <li><span>{{product.price | currency: 'PHP' : 'symbol' : '1.2-2'}}</span></li>
                    <mat-divider></mat-divider>
                    <li>{{product.name}}</li>
                    <mat-divider></mat-divider>
                    <li> {{product.description.desc}}</li>
                    <mat-divider></mat-divider>
                </ul>
                <div class="add-quantity">

                    <div class="add-quantity-btn">
                        <button class="min" type="button" id="min" (click)="subractQuantity()"><i
                                class="fa fa-minus">-</i></button>
                        <input [formControl]="quantity" type="number" min="1"
                            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                        <button class="max" type="button" id="max" (click)="addQuantity()"><i
                                class="ri-add-line"></i></button>
                    </div>

                    <button class="add-to-cart" type="button" id="add" [disabled]="quantity.value === 0"
                        (click)="addToCart()">Add to
                        Cart</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>

