<div>
    <table>
      <tr>
        <td>Product ID</td>
        <td>Product srcUrl</td>
        <td>Product Name</td>
        <td>Product Category</td>
        <td>Product Color</td>
        <td>Product Description</td>
        <td>Product Posting Date</td>
        <td>Product Price</td>
        <td>Action</td>
      </tr>

    <tr>
            <td>{{product.id}}</td>
            <td>{{product.srcUrl}}</td>
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.color}}</td>
            <td>{{product.description}}</td>
            <td>{{product.postingDate}}</td>
            <td>{{product.price}}</td>
            <td>
              <button type ="button" (click)="editProduct()">Edit Product</button><br><br>
              <button type ="button" (click)="removeProduct()">Remove Product</button>
            </td>
          </tr>


    </table>
  </div>
  
  <div>
        <br><button type ="button" id="add" (click)="addProduct()">Add Product</button>
    </div>
    