body {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pagenotfound{
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.gohome {
    display: flex;
    align-items: center;
    padding: 5px;
    flex-direction: row;
    justify-content: space-around;
    width: 120px;
    border-radius: 30px;
    height: 30px;
}

a{
    background-color: var(--bgcolor-dark);
    width: 200px;
    margin-top: 20px;
    padding: 20px;
    text-decoration: none;
    color: white;
}

h2{
    font-size: 50px;
}
h1{
    font-size: 40px;
}