<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Page Not Found</title>
    </head>

    <body>
        <div class="pagenotfound">

            <div class="report">
                <mat-icon>report_problem</mat-icon>
            </div>
            <div>
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>
                <h3>Sorry, an error has occured. Requested page not found!</h3>
                <br>
                <a href = "/home">Continue Shopping</a>

            </div>
        
            
        </div>
    </body>
</html>
