<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Page Not Found</title>
    </head>

    <body>
        <div class="pagenotfound">

            <div class="report">
                <mat-icon>report_problem</mat-icon>
            </div>
            <div>
                <h2>Your requested page was not found.</h2>
                <h2>Please try again.</h2>

            </div>
        
            <div>
                <button class="gohome" mat-icon-button color="primary" aria-label="Example icon button with a home icon" routerLink="/home">
                 Go Home <mat-icon>home</mat-icon>
                </button>
            </div>
        </div>
    </body>
</html>
