<div class="checkout-container">

  <h1>Checkout</h1>

  <div class="checkout-body">

    <mat-stepper orientation="vertical">
      <mat-step>
        <ng-template matStepLabel>Shipping Details</ng-template>
        <ng-template matStepContent>

          <div class="form">
            <form id="shippingFormStatus" [formGroup]="shippingForm">

              <div class="name">
                <input type="text" formControlName="name" placeholder="Name">
                <span *ngIf="name.invalid" class="error-message">Recipient name is required.</span>
              </div>

              <mat-divider></mat-divider>

              <input type="text" formControlName="contact" placeholder="Contact number">
              <span *ngIf="contact.invalid" class="error-message">Contact number is required.</span>

              <div class="shipping-address">
                <input type="text" formControlName="address" placeholder="Shipping Address">
                <span *ngIf="address.invalid" class="error-message">Shipping address is required.</span>
              </div>

              <!-- <app-prompt [message]="'message'" type="success"></app-prompt> -->

            </form>
          </div>

        </ng-template>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Order Summary</ng-template>
        <ng-template matStepContent>
          <div class="items">
            <div *ngFor="let item of cartItems">
              <app-checkout-item [cartItem]="item"></app-checkout-item>
            </div>
          </div>
        </ng-template>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Payment Method</ng-template>
        <div class="payment-option">
          <mat-radio-group aria-label="Select an option" [formControl]="payment">
            <mat-radio-button value="cash">Cash on Delivery</mat-radio-button>
            <mat-radio-button value="credit-debit"> Credit/Debit Card</mat-radio-button>
            <mat-radio-button value="gcash"> Gcash</mat-radio-button>
            <mat-radio-button value="paypal"> Paypal</mat-radio-button>
          </mat-radio-group>
        </div>

      </mat-step>
    </mat-stepper>


    <div class="right-bar">

      <p><span>Subtotal</span> <span>{{subtotal| currency:'PHP'}}</span></p>
      <hr>
      <p><span>Delivery Fee</span> <span>{{deliveryfee| currency:'PHP'}}</span></p>
      <hr>
      <p><span>Total</span> <span>{{totalAmountToPay | currency:'PHP'}}</span></p>
      <div>
        <button (click)="openDialog()" [disabled]="shippingForm.invalid || payment.invalid">Place Order</button>
      </div>

      <app-prompt [message]="'message'" type="success"></app-prompt>


    </div>

  </div>