<p><strong>CHECKOUT - PAGE</strong></p>
<br>
<strong>Shipping Details</strong>
<form [formGroup]="shippingForm" (ngSubmit)="onSubmitShippingForm()">
    <label *ngIf="editInfo" for="name">Name: </label>
    <input [ngClass]="customClass" type="text" formControlName="name" [readonly]="!editInfo">
    <span *ngIf="shippingForm.get('name')?.errors" class="error-message">Name field is required.</span>
    <br>
    <label *ngIf="editInfo" for="contact">Contact: </label>
    <input [ngClass]="customClass" type="text" formControlName="contact" [readonly]="!editInfo">
    <span *ngIf="shippingForm.get('contact')?.errors" class="error-message">Contact field is required.</span>
    <br>
    <label *ngIf="editInfo" for="address">Address: </label>
    <input [ngClass]="customClass" type="text" formControlName="address" [readonly]="!editInfo">
    <span *ngIf="shippingForm.get('address')?.errors" class="error-message">Address field is required.</span>
    <br>
    <button *ngIf="editInfo" type="submit" [disabled]="!shippingForm.valid">Save</button> 
</form>
<button (click)="editShippingForm()">Change</button>

<br>
<br>
<p><strong>ITEMS</strong></p>
<div *ngFor="let item of cartItems">
    <app-checkout-item [cartItem]="item"></app-checkout-item>
</div>
<br>
<p><strong>Order Summary</strong></p>
<div>Subtotal: {{subtotal| currency:'PHP'}}</div>
<div>Delivery Fee: {{deliveryfee| currency:'PHP'}}</div>
<div> <strong>Total: {{totalAmmountToPay| currency:'PHP'}}</strong> </div>
<br>
<button mat-raised-button (click) = "openDialog()">Place Order</button>

