<div>
    <div>
        <button type="button" (click)="logout()">Log-out</button>
    </div>
<br>
    <div>
        <a routerLink="orders">Orders</a>
    </div>
<br>
    <form [formGroup]="profileForm" >
        <div *ngIf="profileForm.disabled">
            <button type="button" (click)="editProfile()">Edit</button>
        </div>

        <label for="username">Username:</label>
        <input id="username" type="text" formControlName="username"/> <br>

        <label for="firstName">First name:</label>
        <input id="firstName" type="text" formControlName="firstName" /> <br>
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <div *ngIf="firstName.errors?.['required']">
                First name is required.
            </div>
        </div>

        <label for="lastName">Last name:</label>
        <input id="lastName" type="text" formControlName="lastName" /> <br>
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <div *ngIf="firstName.errors?.['required']">
                Last name is required.
            </div>
        </div>

        <label for="phone">Phone number:</label>
        <input id="phone" type="text" formControlName="phone" /> <br>

        <label for="email">Email Address:</label>
        <input id="email" type="text" formControlName="email" /> <br>
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors?.['pattern']">
                Enter a valid email address.
            </div>
        </div>

        <label for="birthDate">Birth date:</label>
        <input id="birthDate" type="date" formControlName="birthDate" /> <br>

        <label for="address">Shipping Address:</label>
        <textarea id="address" type="text" formControlName="address"></textarea> <br>

        <div *ngIf="profileForm.enabled">
            <button type="button" (click)="saveChanges()" [disabled]="profileForm.untouched" >Save Changes</button>
            <button type="button" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>
