// --MY ACCOUNT

.my-account{
    display: block;
    position: relative;
    margin-top: 100px;
    max-width: 100%;
    padding-bottom: 100px;
}

.my-account .my-account-container{
    position: relative;
    text-align: center;
    margin: 30px;
    padding: 30px;
    border-bottom: 2px solid rgb(54, 65, 57);
    border-top: 2px solid rgb(54, 65, 57);
    max-width: 100%;

}

.my-account-container h3{
    text-align: center;
    position: relative;
    font-size: 50px;
    padding: 30px;
    
}

.my-account-container button{
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: white;
    

}

.my-account-container span{
    text-decoration: underline;
 }

.my-account-container span:hover{
    cursor: pointer;
    color: rgb(106, 132, 113);;
}

//ACCOUNT BODY

.my-account-body{
    display: flex;
    justify-content: center;
    
    
}

.mat-tab-group{
    width: 1000px;
}


//-------------- FORM ------------------------

// --FORM

form{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    padding-bottom: 50px; 
    width: 1000px;
}

form .account-details{
    display: flex;
    justify-content: space-between;
}
form .btn{
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;
}

.ri-logout-box-r-line{
    margin-right: 20px;
    font-size: 15px;
    text-decoration: none;
    padding: 0;     
}

// PERSONAL INFO

td{
    padding-right: 8px;
}

.name{
    max-width: 50px;
}

mat-form-field{
    width: 300px !important;
}   

mat-form-field mat-label     {
    font-size: 15px;
  }

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 !important;
    
    border: none;

}

.mat-error{
    margin-top: -20px;
    font-size: 10px;
}


.ri-phone-fill{
    margin-left: 10px;
    font-size: 15px;
}

// --INTEREST

.interest button{
    background-color: transparent;
    border: none;
    padding-left: 10px;
    color: white;
}
.ri-close-circle-line{
    font-size: 30px;
    display: inline-block;
    color: white;
    padding-top: 5px;
    
}

//-- SAVE CHANGES

.save-changes button{
    background-color: transparent;
    border: none;
    padding-left: 10px;
    color: white;

}



//------order-history

.order-history{
    width: 1000px;
    margin-bottom: 50px;
}
.order-history a{
    text-decoration: none;
    color: white;
}

app-pending-order{
    margin-top: -100px;
    position: relative;
    max-width: 100%;
    
}

@media only screen and (max-width: 700px) {
    .order-history {
      width: 350px;
      overflow-x: hidden ;
      
    }

    mat-form-field{
        width: 150px !important;
    }
    
    form{
        padding: 10px;
    }
  }


//to hide up and down arrow on number input field
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}