
<div class = "forgot-password-container">

    <div class = "register-heading">
        <h1>Reset your password</h1>
        <h3>We will send you an email to reset your password</h3>
    </div>


    <div class = "form">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input id="username" type="email" formControlName="email" class="form-control" placeholder="ex: juandelacruz@gmail.com" matInput />
            </mat-form-field>
           
            
            <div class = "btn">
                <button type="submit" >Reset Password</button>

            </div>
           
        
        </form>
    </div>

    <a routerLink = "/profile/login">Cancel</a>

</div>

