<div class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Forgot Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="juandelacruz@gmail.com" formControlName="email" />
            <mat-error *ngIf="!forgotPasswordForm.valid">{{getErroMessage()}}</mat-error>
          </mat-form-field>
          
          <div>
            <button *ngIf="sendOtpAgain" mat-raised-button [disabled]="!forgotPasswordForm.valid" type="submit">
              Send OTP
            </button>
            <mat-label class="timer" *ngIf="timer" style="margin-left: 1rem;">Send OTP again in {{timeDisp}}</mat-label>
          </div>
        </form>
      </div>
    </mat-card-content>
    
  </mat-card>
  <div class="verify-otp" *ngIf="showOtpUi">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Verify OTP</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="example-container">
            <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>Enter OTP</mat-label>
                <input matInput formControlName="otp" />
                <!-- <mat-error *ngIf="!otpForm.valid">Cannot be empty</mat-error> -->
                <!-- <mat-error *ngIf="!otpForm.valid">Cannot be empty</mat-error>
                <mat-error *ngIf="true">Cannot be empty1</mat-error> -->
              </mat-form-field>
              
              <div>
                <button mat-raised-button [disabled]="!otpForm.valid" type="submit">
                  Confirm
                </button>
              </div>
            </form>
          </div>
        </mat-card-content>
        
      </mat-card>
  </div>
</div>
