
.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.form-field {
    width: 20rem;
}

.form-container {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.timer{
    color: orange;
}
.verify-otp{
    margin-top: 2rem;
}