


header{
    /* position: fixed; */
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 10%;
    transition: all .50s ease;
    background-color:#1c1c1c ;
    
    /* margin: 100px */
    
}

.search-bar{
    // max-width: 100%;
    width: 500px;
    ;
}

// -- HEADER ICON

// .main a:hover{
//     color: #a6beac;
// }

.main :hover{
    color: #a6beac;
    cursor: pointer;
}

.main{
    display:flex;
    align-items: center;
}

.main a{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
    
}

.main i{
    font-size: 25px;
    
}

.ri-shopping-cart-line{
    color: white;
}

#menu-icon{
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    
}

#search-button{
    display: none;
}


//-- SEARCH BAR 




/* media queries  */
/* RESPONSIVE WEB */
/* MAIN DISPLAY WILL BE SIDE NAV INCLUDES FILTER*/


@media screen and (max-width: 500px) {
    header{
      float: none; 
      max-width: 100%;   
      display: inline-block;
     
    }
    img{
        /* display: inline-block; */
        max-width: 100%;
        // align-items: left;
    }
    
    
    .main{
        display: none;
    }

   

    .search-bar{
        display: none;
    }

    .main #search-button{
        display: inline-block;
    }

    

    
    
}

