<!-- <p>Header Works!</p> -->

<header>
    <a href = 'home'><img src ="assets\img\grey-space-logo.png"></a>
    <div class = "search-bar">
        <app-search></app-search>
    </div>
    <div class = "main">
        <div id = "search-button"><i class="ri-search-line"></i></div>
        <a routerLink= "user"><i class="ri-user-line"></i></a>
        <a href="#"><i matBadge="0" matBadgeColor="warn" class="ri-shopping-cart-line"></i></a>
        <div class = "ri-menu-line" id = "menu-icon"></div>
    </div>
</header>
