<!-- USER HEADER -->
<header *ngIf="!(isLoggedAsAdmin$ | async)">
    <div class = "ri-menu-line" id = "menu-icon"></div> 
    
        <a routerLink="/home"><img src ="assets\img\grey-space-logo.png"></a>

    <div class = "search-bar">
        <app-search></app-search>
    </div>

    <div class = "main">
        <div id = "search-button"><i class="ri-search-line"></i></div>
        <a class = "profile" routerLink="/profile"><i class="ri-user-line"></i></a>
        <a  routerLink="/cart"><i matBadge="{{cartTotal$ | async}}" matBadgeColor="warn" class="ri-shopping-cart-line"></i></a>
    </div>
    
</header>

<!-- ADMIN HEADER -->
<header *ngIf="(isLoggedAsAdmin$ | async)">
    <div class = "ri-menu-line" id = "menu-icon"></div> 
        <a routerLink="/admin"><img src ="assets\img\grey-space-logo.png"></a>

        <!-- COMMAND BAR -->
        <div class = "admin-btn">
            <button routerLink="/admin/dashboard">Dashboard</button>
            <button routerLink="/admin/products">My Products</button>
            <button routerLink="/admin/orders">Orders</button>
            <button routerLink="/admin/users">Users</button>
        </div>

    <div class = "main">
        <a class = "profile" routerLink="/profile"><i class="ri-user-line"></i></a>
    </div>
    
</header>