<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>

<body>

    <div >
    <table cellspacing="10" >
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Order Status</th>
            <th>Order Total</th>
            <th>Action</th>
        </tr>
        <tr  *ngFor="let order of orders">
            <td>#{{order.id}}</td>
            <td>{{order.orderDate}}</td>
            <td>{{order.status}}</td>
            <td>{{order.total | currency:'PHP'}}</td>
            <td><button (click)="onClick(order.id!)"> view details</button></td>
        </tr>
    </table>
</div>

</body>
</html>