<body>
    <main>
        
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Id </th>
                        <th> Order Date </th>
                        <th> Status </th>
                        <th> Amount </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let order of orders">
                        <th scope="row">#{{order.id}}</th>
                        <td>{{order.orderDate}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.total | currency:'PHP'}}</td>
                        <td><button (click)="onClick(order.id!)"> view details</button></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>

