<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>

<mat-accordion>
    <mat-expansion-panel *ngFor="let order of orders">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Order Status: {{order.status}}
            </mat-panel-title>
            <mat-panel-description>
                Order Date: {{order.orderDate | date:'MM/dd/yyyy'}}
            </mat-panel-description>
            <mat-panel-description>
                Order ID: #{{order.id}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-order-details [orderNo]="order.id" [orders]="orders"></app-order-details>
    </mat-expansion-panel>
</mat-accordion>
</html>
