mat-divider{
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  // -------------IMAGE DISPLAY-------------- 
  
    
    
  // }
  img{
  height: auto;
  max-width: 100%;
  }
  
  .carouselExampleIndicators{
    margin-top: 80px;
  }
  
  // -------------DASHBOARD COMPONENT---------------- 
  .flex-box{
    
    display: flex;
    justify-content: center;
  }
  
  // -------------FILTER TAB----------------
  
  .product-board{
    display: flex;
    justify-content: center;
    
  }
  .product-board .filter{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    
    overflow-x: hidden;
    
  }
  h2{
    padding: 10px;
    position: relative;
    top: 15px;
    background-color:transparent;
    color: rgba(255, 255, 255, 0.5);
  }  
  
  
  
  
  
  // -------------SEARCH RESULT STATUS--------------- 
  
  .search-status{
    margin-top: 100px;
  }
  .product-board .search-status{
    display: absolute;
    bottom: 0;
  }
  .search-status h1{
    padding: 10px;
  }
  
  
  // -------------SORT TAB--------------- 
  app-sort{
    max-width: 100%;
  }
  
  // -------------PRODUCT DISPLAY-------------- 
  
  .product-tile{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }
  
  app-product-item{
    position: relative;
    display: inline-block;
    padding: 10px;
    // background-color: rgb(124, 124, 124);
    
  }
  
  
  @media only screen and (max-width: 480px) {
    .home-img{
      width: 100%;
      
    }
    .product-board .filter{
      display: flex;
      justify-content: center;
      width: 100%;
      overflow-x: hidden;
      flex-wrap: wrap;
      
      
    } 
  }