<div class = "admin-filter">
    <!-- SORT -->
    <app-sort (sort)="sort($event)" [productsToSort$]="productsToSort$"></app-sort>

    <!-- FILTER -->
    <app-filter (filter)="filter($event)" [products$]="allProducts$"></app-filter>

    
</div>
<mat-divider></mat-divider>
<!-- ADD PRODUCT -->
<div class = "add-product">
    <button type="button" (click)="addProduct()"><i class="ri-add-fill"></i>Add product</button>
</div>


<!-- PRODUCT LIST -->
<div class = "product-tile">
<div *ngFor="let product of productsDisplay$ | async">
    <app-admin-product [product]="product" (onAction)="onAction($event)"></app-admin-product>
</div>
</div>