
<div class = "admin-product">
    <div class="product-container">
        <div class="row">
            <ng-container *ngIf="product">
                <div class="col">
                    <div class="img-container">
                        <img src={{url}} *ngFor="let url of product.srcUrl" alt="picture">
                    </div>
                    <ul class="content">
                        <li>{{product.name}}</li>
                        <li>₱{{product.price}}</li>
                        <li> {{product.description.desc}}</li>
                    </ul>
                    <button type="button" (click)="executeAction('EDIT')" >Edit</button>
                    <button type="button" (click)="executeAction('DELETE')" >Delete</button>
                </div>
            </ng-container>
            
        </div>
    </div>
</div>