
.product-board .filter{
  background-color: rgb(34, 66, 66);
  display: flex;
  justify-content: left;
  max-width: 100%;
}

.product-board .search-status{
  display: absolute;
  bottom: 0;
}


app-sort{
  max-width: 100%;
}

app-product-item{
  position: relative;
  
  display: inline-block;
  padding: 20px;
  background-color: rgb(124, 124, 124);
  
}

img{
    height: auto;
    max-width: 100%;
    margin-top: 100px;
}


h2{
  padding: 10px;
  position: relative;
  top: 15px;
  background-color:transparent;
  color: rgba(255, 255, 255);
}  








@media only screen and (max-width: 480px) {
  img {
    width: 100%;
  }
}