<div class="home-img"><img src="assets\img\img-1.png"></div>

<!-- FILTER -->
<app-sort [productsToSort$]="productsToSort$" (sort)="sort($event)"></app-sort>

<!-- FILTER -->
<app-filter (filter)="filter($event)" [allProducts$]="allProducts$"></app-filter>


<br><br>

<!-- PRODUCT LIST -->
<div *ngIf="true">
    <h1>Products</h1>
</div>

<div *ngIf="false">
    <h1>There are no products to display.</h1>
</div>

<div *ngFor="let product of productsDisplay$ | async">
    <app-product-item [product]="product" (onSelection)="addToCart($event)"></app-product-item>
</div>
