<div class="home-img"><img src="assets\img\img-1.png"></div>

<div class = "filter">
<!-- SORT BY-->
    <h2>Filter:</h2>
    <div class = "sort-by">
        <app-sort [productsToSort$]="productsToSort$" (sort)="sort($event)"></app-sort>
    </div>
    <!-- CATEGORY AND PRICE -->
    <div class = "category-price">
        <app-filter (filter)="filter($event)" [allProducts$]="allProducts$"></app-filter>
    </div>
</div>

<br><br>

<!-- PRODUCT LIST -->

<div *ngIf="true">
    <h1>Products</h1>
</div>

<div *ngIf="false">
    <h1>There are no products to display.</h1>
</div>

<ng-container *ngFor="let product of productsDisplay$ | async">
    <app-product-item [product]="product" (onSelection)="addToCart($event)"></app-product-item>
</ng-container>

