
<div class = "wrapper">
    
        <div *ngIf="cartList.length > 0">
            <h1>Shopping Cart</h1>
            <div class = "cart-list">

                <div class = "shop">
                <div *ngFor="let cartItem of cartList">
                    <app-cart-item [cartItem]="cartItem" (onAction)="onAction($event)" ></app-cart-item>
                </div>
                </div>

                <div class = "right-bar">
                    
                    <p><span>Subtotal</span> <span>{{subTotal}}</span></p>
                    <hr>
                    <p><span>Discount</span> <span>₱0</span></p>
                    <hr>
                    <p><span>Total</span> <span>{{subTotal}}</span></p>
                    <div><button (click)="goToCheckout()" [disabled]="subTotal === 0">Checkout</button></div>
                    
                </div>


            </div>
        </div>

    <div *ngIf="cartList.length < 1">
        <h1>Shopping Cart</h1>
        <div class = "empty-message">
        <h2>Your shopping cart is empty now</h2>
        <p>You can change that! Pick something from the store</p>
        </div>
        <div class = "empty-cart" ><button type="button" (click)="goToHome()">continue shopping</button></div>
    </div>
    
</div>


