.wrapper{
	max-width: 100%;
	position: relative;
    margin: 100px 25px 0px 25px;
	
	
}
.cart-list{
	
	display: flex;
	justify-content: space-between;
	
	
}

.shop{
	
	flex:60%
	
}

.wrapper h1 {
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
    background-color: var(--bgcolor-light);
}



.right-bar {
	width: 100%;
	flex: 40%;
	padding: 20px;
	height: 100%;
	border-radius: 5px;
	background: transparent;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.right-bar hr {
	margin-bottom: 25px;
}
.right-bar p {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 20px;
}
.right-bar div{
	display: flex;
	justify-content: center;
}
.right-bar  button{
	background-color: var(--bgcolor-dark);
	border: none;
	color: #fff;
	text-decoration: none;
	
	align-items: center;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-weight: 900;
	width: 100%;

	
}
.right-bar i {
	margin-right: 15px;
}
.right-bar button:hover {
	background-color: var(--bgcolor-light)
}



@media screen and (max-width: 900px) {
	.cart-list {
		flex-direction: column;
	}
	.right-bar {
		margin-left: 0;
		margin-bottom: 20px;
		border: solid var(--bgcolor-light);
	}
}
@media screen and (max-width: 1250px) {
	.wrapper {
		max-width: 95%;
	}
}