.wrapper {
	max-width: 100%;
	position: relative;
    margin: 100px 25px 0px 25px;
}
.wrapper h1 {
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
    background-color: rgb(77, 91, 72);
}

// #6f8174
// rgb(77, 91, 72)