<div class = "filter" *ngIf="allProducts">

    
    <!-- CATEGORY FILTER -->
    <!-- ADD stop.propagation  to stop menu from closing -->
    
    <button class = "btn" mat-button [matMenuTriggerFor]="category">Category<i class="ri-arrow-drop-down-fill"></i></button>
    <mat-menu #category = "matMenu" xPosition="after" yPosition="below" >
        <div *ngFor="let category of categories$ | async">
            <app-category-item [category]="category" (onChanges)="onChanges($event)" ></app-category-item>
        </div>

    </mat-menu>

    <!-- PRICE FILTER -->

    <button class = "btn" mat-button [matMenuTriggerFor]="price">Price<i class="ri-arrow-drop-down-fill"></i></button>
    <mat-menu class="sample" #price = "matMenu" xPosition="after" yPosition="below" >
        <div *ngFor="let range of PR">
            <app-price-item class = "price-range" [range]="range" (onChanges)="onChanges($event)"></app-price-item>
           
        </div>
    </mat-menu>
    <br><button class ="clear" (click)="clearAll()" >Clear all</button>

    
    
</div>

