
.filter{
    
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    
    
    
}
.btn{
    
    margin: 20px;
    background-color: transparent;
    // border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;

    
}


.clear{
    text-decoration: underline;
    background: transparent;
    color: aliceblue;
    border: none;
    cursor: pointer;
    position: static;
    top: 15px;
    right: 30px;
    margin: 10px;
}


@media only screen and (max-width: 480px) {
    .filter{
        flex-wrap: wrap;
        
    }

}
